@import "mixins";

.contenedor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
    margin:auto;
}

.blog__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 830px;
  margin: 0 auto;
  background-image: url("../images/concert-blog.png");
  background-repeat: no-repeat;
  background-size: 90vw 830px;
  color: $gris-personal;
}

.blog__titulo h1 {
  font-size: 50px;
  text-align: center;
}

.blog__titulo h4 {
  font-size: 20px;
}

.blog__titulo img {
  z-index: -1;
}

.blog__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  margin: 0 auto;
}

.blog__body__articulos1 {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.blog__body__articulos2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.blog__body__articulos2 article {
  flex-grow: 2;
}

.blog__body__imagen{
    margin: 20px auto;
}

.blog__separador{
  @include separador;
  width: 40vw;
}