
// Clase para la configfuración del body de todas páginas menos la de inicio
.contenedor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95vw;
    width: 95vw;
}
