@import "mixins";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: black;
  width: 90vw;
  margin: 0 5vh 0 5vh;
}

.footer__estatica {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $gris-estatico;
  max-width: 85vw;
  margin-top: 20px;
}

.footer__estatica__mapa{
  width: 30vw;
  height: 330px;
  padding:10px;
}

.footer__estatica__titulos{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
}
.footer__pie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 90vw;
}

.footer__pie__redes {
  display: flex;
  justify-content: space-between;
  width: 10vw;
}

.footer__separador {
  @include separador;
  width: 40vw;
}
