.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    max-width: 90vw;
    margin: 0 5vh 0 5vh;

  }

  .footer__redes{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
  }