.formulario{
    display:block;
    width: 40vw;
    margin:auto;
    background-color: $azul-formulario;
    padding: 30px;
}

.formulario__form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:20px;
}

.formulario__form button{
    width: 10vw;
    margin: auto;
}