.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
  width: 90vw;
  margin: 0 5vh 0 5vh;
}
