@import "mixins";
@supports (display: grid) {
  .poster {
    display: grid;
    width: 90vw;
    grid-template-columns: 5% 30% 30% 20% 10% 5%;
    grid-template-rows: 200px 3% 30% 30% 30% 2% 500px;
  }

  .poster__cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    max-height: 200px;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    z-index: 2;
  }

  .poster__titulo {
    grid-area: 2/3/3/4;
    margin: auto;
    z-index: 2;
  }

  .poster__titulo > h1 {
    color: white;
    font-size: 80px;
  }
  .poster__imagen {
    grid-area: 1/1/6/5;
  }

  .poster__imagen img {
    max-width: 85vw;
    height: auto;
  }

  .poster__imagen1 {
    grid-area: 5/2;
    z-index: 2;
  }

  .poster__imagen1 img {
    max-width: 20vw;
  }

  .poster__imagen2 {
    grid-area: 4/3/5/4;
    z-index: 2;
  }

  .poster__imagen3 {
    padding-left: 20px;
    grid-area: 3/5;
    z-index: 2;
  }

  .poster__imagen3 img {
    max-width: 12vw;
    height: auto;
  }

  .footer__index {
    grid-area: 7/1 / span 1/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: black;
    width: 90vw;
    margin: 0 5vh 0 5vh;
  }

  .footer__estatica {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 85vw;
  }

  .footer__pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 90vw;
  }
  .footer__pie__redes {
    display: flex;
    justify-content: space-between;
    width: 10vw;
  }

  .footer__separador {
    @include separador;
    width: 80vw;
  }
}
