@import "mixins";

.poster {
  display: table;
  width: 90vw;
  margin: auto;
}

.poster__cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Monteserrat", sans-serif;
  width: 90vw;
  color: $color-header;
  max-height: 200px;
  grid-area: 1/1/2/6;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  z-index: 2;
}

.poster__titulo {
  display: table-row;
  margin: auto;
  z-index: 2;
}

.poster__titulo h1 {
  color: $color-titulo-nogrid;
  text-align: center;
  font-size: 80px;
  text-shadow: 5px 5px #558abb;
}

.poster__imagen {
  display: table-row;
}

.poster__imagen img {
  display: block;
  width: 100%;
}

.poster__imagen1 {
  display: table-row;
  margin: auto;
}

.poster__imagen1 img {
  display: block;
  width: auto;
}

.footer__index {
  display: table-row;
  
  @include pie;
}

@supports (display: grid) {
  .poster {
    display: grid;
    width: 90vw;
    margin: auto;
    grid-template-columns: 1fr 4fr 8fr 2fr 5fr;
    grid-template-rows: 200px auto auto auto auto;
  }

  .poster__cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Monteserrat", sans-serif;
    width: 90vw;
    color: $color-header;
    max-height: 200px;
    grid-area: 1/1/2/6;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    z-index: 2;
  }

  .poster__titulo {
    grid-area: 2/4/4/5;
    margin: auto;
    z-index: 2;
  }

  .poster__titulo h1 {
    color: white;
    writing-mode: vertical-lr;
    font-size: 80px;
    text-shadow: 5px 5px #558abb;
  }

  .poster__imagen {
    grid-area: 1/1/5/7;
  }

  .poster__imagen img {
    display: block;
    width: 100%;
  }

  .poster__imagen1 {
    grid-area: 2/2/3/3;
    z-index: 2;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  }

  .poster__imagen1 img {
    display: block;
    width: 100%;
    //object-fit: cover;
  }

  .footer__index {
    @include pie;
    grid-area: 5/1/6/6;
  }
}
