@supports (display: grid) {
  .poster {
    display: grid;
    width: 95vw;
    grid-template-columns: 5% 40% 25% 25% 5%;
    grid-template-rows: 200px 3% 30% 30% 30% 3% 500px;
  }

  .poster__cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    max-height: 200px;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    z-index: 2;
  }

  .poster__titulo {
    grid-area: 2/2/3/4;
    z-index: 2;
  }

  .poster__titulo > h1 {
    color: white;
    font-size: 80px;
  }
  .poster__imagen {
    grid-area: 1/1/6/5;
  }

  .poster__imagen img {
    //object-fit: cover;
    height: auto;
    width: auto;
  }

  .poster__imagen1 {
    grid-area: 5/2/7/3;
    z-index: 2;
  }
  .poster__imagen1 img {

max-width:    20vw;
  }
  .poster__imagen2 {
    grid-area: 4/3/5/4;
    z-index: 2;
  }
  .poster__imagen2 {
    height: auto;
    width: auto;
  }
  .poster__imagen3 {
    grid-area: 3/4/4/6;
    z-index: 2;
  }

  .footer__index {
    grid-area: 7/1 / span 1/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: black;
    width: 90vw;
    margin: 0 5vh 0 5vh;
  }

  .footer__estatica {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 85vw;
  }

  .footer__pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 90vw;
  }
  .footer__pie__redes {
    display: flex;
    justify-content: space-between;
    width: 10vw;
  }

  .footer__separador {
    border-top: solid 2px $azul-principal;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80vw;
  }
}
