.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  width: 90vw;
  color: $color-header;
  max-height: 200px;
}
